.contact {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 200px;

    .textcontainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        h1 {
            font-size: 50px;
        }

        span {
            font-weight: 300;
        }
    }

    .formcontainer {
        flex: 1;

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 70%;

            input,
            textarea {
                padding: 10px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;

            }

            button {
                padding: 10px;
                border: none;
                background-color: orange;
                cursor: pointer;
                font-weight: 500;
            }
        }

    }
}